<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="connectAddress" value="http://localhost/DocsVision/StorageServer/StorageServerService.asmx"/>
      <add key="baseName" value="DocsVision"/>
    </appSettings>
</configuration>